* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right,rgb(231, 173, 65), rgb(219, 135, 215) );

    max-width: 100%;
}

h1 {
    position: absolute;
    top: 9vw;
    text-align: center;
    width: 100%;
}

.con {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-left: 10%;
    padding-top: 2%;
}

.con a {
    padding: 2%;
}


h2 {
    position: absolute;
    top: 15vw;
    text-align: center;
    width: 100%;
}

.map {
    
    top: 20vw;
    width: 100%;
    margin-bottom: 2vw;
}


.map {
    text-align: center;
}

  
.footer{
    background-color: black;
    height: 10vh;
}


.footer p{
    text-align: center;
    color:white;
    font-family: 'PT Serif', serif;
    padding-top: 2%;
}