body {
    background-color:lavender;
    max-width: 100%;
}

h1 {
    position: absolute;
    top: 9vw;
    text-align: center;
    width: 100%;
}

.contact { 
    text-align: left;
    margin-left: 2%;
    font-size: 1.5vw;
}

h2 {
    position: absolute;
    top: 15vw;
    text-align: center;
    width: 100%;
}

.map {
    position: absolute;
    top: 20vw;
    width: 100%;
    margin-bottom: 2vw;
}


.map {
    text-align: center;
}
