* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(243, 240, 240, 0.911);
    font-family: 'Baloo Tamma 2', cursive;
    min-height: 14vh;
}

.WebLogo img{
    height: 12vh;
}

.navLinks{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navLinks a{
    color: rgb(134, 31, 134);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

.navLinks a:hover{
    color: white;
}

.navLinks li{
    list-style: none;
}

body{
    background-image: linear-gradient(to right,rgb(231, 173, 65), rgb(219, 135, 215) );
}

.greeting {
    background-color: rgba(12, 10, 9, 0.5);
    height: 50vh;
}

.greeting h1{
    font-family: 'PT Serif', serif;
    text-align: center;
    padding-top: 10%;
}
.greeting p {
    font-family: 'PT Serif', serif;
    text-align: center;
    color: white;
}

.right img{
    height: 30vh;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

h1{
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

.footer{
    background-color:rgba(243, 240, 240, 0.911);
    height: 20vh;
}