* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right,rgb(231, 173, 65), rgb(219, 135, 215) );
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(14, 13, 13, 0.911);
    font-family: 'Gill Sans';
    min-height: 12vh;
}

.WebLogo img{
    height: 12vh;
}

.navLinks{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navLinks a{
    color: rgba(212, 74, 212, 0.6);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

.navLinks a:hover{
    color: rgba(212, 74, 212, 0.96);
}

.navLinks li{
    list-style: none;
}