nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:black ;
    font-family: 'Baloo Tamma 2', cursive;
    min-height: 14vh;
}

.WebLogo img{
    height: 12vh;
}

.navLinks{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.navLinks a{
    color: rgb(134, 31, 134);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.navLinks a:hover{
    color: white;
}

.navLinks li{
    list-style: none;
}